* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body .container {
  background-color: #3EBEFD;
  display: flex;
  justify-content: center;
}
body .container .inner-container {
  position: fixed;
  max-width: 1190px;
  z-index: 5;
}
body .container .inner-container .nav-bar {
  background-color: #3EBEFD;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr auto auto;
  justify-content: center;
  align-items: center;
  color: white;
}
body .container .inner-container .nav-bar h1 {
  margin: 0rem 1rem;
  font-size: 2rem;
}
body .container .inner-container .nav-bar ul {
  grid-column: 3;
}
body .container .inner-container .nav-bar ul li {
  display: inline-block;
  margin: 0rem 1rem;
}
body .container .inner-container .nav-bar ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
}
body .container .inner-container .nav-bar ul .contact-android {
  display: none;
}
body .container .inner-container .nav-bar button {
  grid-column: 4;
  margin: 1rem 1rem;
  padding: 0rem 1.2rem;
  height: 30px;
  border-radius: 40px 40px 40px 40px;
  font-weight: 700;
  background-color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(0deg, 0%, 100%);
}
body .container .inner-container .nav-bar .android-btn {
  display: none;
}
body .hero-img {
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 100vh;
  background: no-repeat center center/cover url("/images/desktop/image-header.jpg");
}
body .hero-img .arrow {
  height: 30%;
  background: no-repeat center center url("/images/icon-arrow-down.svg");
  margin-top: 200px;
}
body .hero-img p {
  position: absolute;
  color: hsl(0deg, 0%, 100%);
  width: 100%;
  text-align: center;
  top: 80px;
  font-size: 3.5rem;
  font-size: 900;
  text-align: center;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
body .shift {
  position: relative;
  top: 100vh;
}
body .shift .what-we-do {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  z-index: 1;
  background-color: hsl(0deg, 0%, 100%);
}
body .shift .what-we-do .what-we-do-item {
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  justify-content: center;
}
body .shift .what-we-do .what-we-do-item .what-we-do-heading {
  margin: 2vh 0;
}
body .shift .what-we-do .what-we-do-item .what-we-do-paragraph {
  margin: 0 0 2vh 0;
}
body .shift .what-we-do .what-we-do-item .learn-more {
  font-weight: 700;
  display: inline-block;
}
body .shift .what-we-do .what-we-do-item.egg {
  background: no-repeat center center/cover url("/images/desktop/image-transform.jpg");
}
body .shift .what-we-do .what-we-do-item.cup {
  background: no-repeat center center/cover url("/images/desktop/image-stand-out.jpg");
}
body .shift .what-we-do .what-we-do-item.graphic {
  background: no-repeat center center/cover url("/images/desktop/image-graphic-design.jpg");
  display: flex;
  justify-content: end;
  text-align: center;
}
body .shift .what-we-do .what-we-do-item.photography {
  background: no-repeat center center/cover url("/images/desktop/image-photography.jpg");
  display: flex;
  justify-content: end;
  text-align: center;
}
body .shift .testi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  padding: 10vw;
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
}
body .shift .testi h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  color: gray;
}
body .shift .testi .testi-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
}
body .shift .testi .testi-s .testi-i {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 0 3rem 0;
}
body .shift .testi .testi-s .testi-i.e {
  background: no-repeat center center/cover url("/images/image-emily.jpg");
}
body .shift .testi .testi-s .testi-i.t {
  background: no-repeat center center/cover url("/images/image-thomas.jpg");
}
body .shift .testi .testi-s .testi-i.j {
  background: no-repeat center center/cover url("/images/image-jennie.jpg");
}
body .shift .testi .testi-s .testi-p {
  margin: 0 2rem;
}
body .shift .testi .testi-s .testi-n {
  margin: 3rem 0 0 0;
  font-weight: 700;
}
body .shift .testi .testi-s .testi-t {
  margin: 0.5rem 0;
}
body .shift .images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
body .shift .images-container .image {
  height: 45vh;
}
body .shift .images-container .image.one {
  background: no-repeat center center/cover url("/images/desktop/image-gallery-milkbottles.jpg");
}
body .shift .images-container .image.two {
  background: no-repeat center center/cover url("/images/desktop/image-gallery-orange.jpg");
}
body .shift .images-container .image.three {
  background: no-repeat center center/cover url("/images/desktop/image-gallery-cone.jpg");
}
body .shift .images-container .image.four {
  background: no-repeat center center/cover url("/images/desktop/image-gallery-sugarcubes.jpg");
}
body .shift footer {
  width: 100%;
  background-color: hsl(168deg, 45%, 65%);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}
body .shift footer .footer-header {
  margin-top: 3rem;
}
body .shift footer .footer-nav {
  margin-top: 1.5rem;
}
body .shift footer .footer-nav ul li {
  display: inline-block;
  margin: 0 1rem;
}
body .shift footer .footer-nav ul li:hover {
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
body .shift footer .footer-icons {
  margin: 3rem 0;
}
body .shift footer .footer-icons .footer-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0rem 0.5rem;
}
body .shift footer .footer-icons .footer-icon:hover {
  filter: brightness(100);
  cursor: pointer;
}
body .shift footer .footer-icons .footer-icon.facebook {
  background: no-repeat center center/cover url("/images/icon-facebook.svg");
}
body .shift footer .footer-icons .footer-icon.instagram {
  background: no-repeat center center/cover url("/images/icon-instagram.svg");
}
body .shift footer .footer-icons .footer-icon.twitter {
  background: no-repeat center center/cover url("/images/icon-twitter.svg");
}
body .shift footer .footer-icons .footer-icon.pinterest {
  background: no-repeat center center/cover url("/images/icon-pinterest.svg");
}

@media (max-width: 600px) {
  body .container {
    background-color: #3EBEFD;
    display: flex;
    justify-content: center;
  }
  body .container .inner-container {
    position: fixed;
    max-width: 1190px;
    z-index: 5;
  }
  body .container .inner-container .nav-bar {
    background-color: #3EBEFD;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 6fr auto auto;
    justify-content: center;
    align-items: center;
    color: white;
  }
  body .container .inner-container .nav-bar h1 {
    margin: 0rem 1rem;
    font-size: 2rem;
  }
  body .container .inner-container .nav-bar ul {
    width: 90%;
    left: 5%;
    position: absolute;
    top: 80px;
    background-color: hsl(0deg, 0%, 100%);
    padding: 2rem 1rem;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  body .container .inner-container .nav-bar ul li {
    display: block;
    margin: 1rem 0;
  }
  body .container .inner-container .nav-bar ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
  }
  body .container .inner-container .nav-bar ul .contact-android {
    background-color: hsl(51deg, 100%, 49%);
    padding: 0.5rem 2rem;
    display: flex;
    width: 40%;
    border-radius: 40px;
    font-weight: 700;
    border: 2px double black;
    justify-content: center;
    align-items: center;
  }
  body .container .inner-container .nav-bar ul .contact-android:hover {
    background-color: yellow;
    cursor: pointer;
  }
  body .container .inner-container .nav-bar ul::before {
    content: "";
    display: inline-block;
    background-color: hsl(0deg, 0%, 100%);
    width: 30px;
    height: 30px;
    position: absolute;
    top: -25px;
    right: 0px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  }
  body .container .inner-container .nav-bar ul.appear {
    animation: appear 0.5s ease-in-out forwards;
  }
  body .container .inner-container .nav-bar ul.disappear {
    animation: disappear 0.5s ease-in-out forwards;
  }
  body .container .inner-container .nav-bar button {
    grid-column: 4;
    margin: 1rem 1rem;
    padding: 0rem 1.2rem;
    height: 30px;
    border-radius: 40px 40px 40px 40px;
    font-weight: 700;
    background-color: hsl(0deg, 0%, 100%);
    border: 1px solid hsl(0deg, 0%, 100%);
    display: none;
  }
  body .container .inner-container .nav-bar .android-btn {
    display: inline-block;
    border-radius: 0px;
    background: no-repeat center center url("/images/icon-hamburger.svg");
    height: 40px;
    width: 40px;
    border: none;
  }
  body .container .inner-container .nav-bar .android-btn:hover {
    cursor: pointer;
  }
  body .hero-img {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background: no-repeat center center/cover url("/images/desktop/image-header.jpg");
  }
  body .hero-img p {
    position: absolute;
    color: hsl(0deg, 0%, 100%);
    width: 100%;
    text-align: center;
    top: 80px;
    font-size: 2.5rem;
    font-size: 900;
    text-align: center;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
  }
  body .shift {
    position: relative;
    top: 100vh;
  }
  body .shift .what-we-do {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    z-index: 1;
    background-color: hsl(0deg, 0%, 100%);
  }
  body .shift .what-we-do .what-we-do-item {
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    justify-content: center;
  }
  body .shift .what-we-do .what-we-do-item .what-we-do-heading {
    margin: 2vh 0;
  }
  body .shift .what-we-do .what-we-do-item .what-we-do-paragraph {
    margin: 0 0 2vh 0;
  }
  body .shift .what-we-do .what-we-do-item.egg {
    background: no-repeat center center/cover url("/images/desktop/image-transform.jpg");
    grid-row: 1;
  }
  body .shift .what-we-do .what-we-do-item.cup {
    background: no-repeat center center/cover url("/images/desktop/image-stand-out.jpg");
  }
  body .shift .what-we-do .what-we-do-item.graphic {
    background: no-repeat center center/cover url("/images/desktop/image-graphic-design.jpg");
    display: flex;
    justify-content: end;
    text-align: center;
  }
  body .shift .what-we-do .what-we-do-item.photography {
    background: no-repeat center center/cover url("/images/desktop/image-photography.jpg");
    display: flex;
    justify-content: end;
    text-align: center;
  }
  body .shift .testi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    padding: 10vw;
    position: relative;
    background-color: hsl(0deg, 0%, 100%);
  }
  body .shift .testi h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    color: gray;
  }
  body .shift .testi .testi-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem 0;
  }
  body .shift .testi .testi-s .testi-i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 0 3rem 0;
  }
  body .shift .testi .testi-s .testi-i.e {
    background: no-repeat center center/cover url("/images/image-emily.jpg");
  }
  body .shift .testi .testi-s .testi-i.t {
    background: no-repeat center center/cover url("/images/image-thomas.jpg");
  }
  body .shift .testi .testi-s .testi-i.j {
    background: no-repeat center center/cover url("/images/image-jennie.jpg");
  }
  body .shift .testi .testi-s .testi-p {
    margin: 0 2rem;
  }
  body .shift .testi .testi-s .testi-n {
    margin: 3rem 0 0 0;
    font-weight: 700;
  }
  body .shift .testi .testi-s .testi-t {
    margin: 0.5rem 0;
  }
  body .shift .images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  body .shift .images-container .image {
    height: 25vh;
  }
  body .shift .images-container .image.one {
    background: no-repeat center center/cover url("/images/desktop/image-gallery-milkbottles.jpg");
  }
  body .shift .images-container .image.two {
    background: no-repeat center center/cover url("/images/desktop/image-gallery-orange.jpg");
  }
  body .shift .images-container .image.three {
    background: no-repeat center center/cover url("/images/desktop/image-gallery-cone.jpg");
  }
  body .shift .images-container .image.four {
    background: no-repeat center center/cover url("/images/desktop/image-gallery-sugarcubes.jpg");
  }
  body .shift footer {
    width: 100%;
    background-color: hsl(168deg, 45%, 65%);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
  }
  body .shift footer .footer-header {
    margin-top: 3rem;
  }
  body .shift footer .footer-nav {
    margin-top: 1.5rem;
  }
  body .shift footer .footer-nav ul li {
    display: inline-block;
    margin: 0 1rem;
  }
  body .shift footer .footer-nav ul li:hover {
    color: hsl(0deg, 0%, 100%);
    cursor: pointer;
  }
  body .shift footer .footer-icons {
    margin: 3rem 0;
  }
  body .shift footer .footer-icons .footer-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0rem 0.5rem;
  }
  body .shift footer .footer-icons .footer-icon:hover {
    filter: brightness(100);
    cursor: pointer;
  }
  body .shift footer .footer-icons .footer-icon.facebook {
    background: no-repeat center center/cover url("/images/icon-facebook.svg");
  }
  body .shift footer .footer-icons .footer-icon.instagram {
    background: no-repeat center center/cover url("/images/icon-instagram.svg");
  }
  body .shift footer .footer-icons .footer-icon.twitter {
    background: no-repeat center center/cover url("/images/icon-twitter.svg");
  }
  body .shift footer .footer-icons .footer-icon.pinterest {
    background: no-repeat center center/cover url("/images/icon-pinterest.svg");
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
